.my-orders{
    margin: 50px 0px;
}
.my-orders .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: #454545;
    border: 1px solid orangered;
}
.my-orders-order img {
    width: 50px;
}
.my-orders-order p span{
    color: orangered;
}
.my-orders-order p b{
    font-weight: 500;
    color: #454545;
}
.my-orders-order button{
    border: none;
    padding: 20px 0px;
    border-radius: 5px;
    background-color: #ffe1e1;
    cursor: pointer;
    color: #454545;
    font-size: 13px;
}
.my-orders-order .cancel-btn {
  background: rgb(26, 132, 208);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn:hover {
  background: red;
}

@media (max-width:900px) {
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 13px;
    }
    .my-orders-order button{
        font-size: 10px;
    }
}
