.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10%;
    
}
.navbar .logo{
    width: max(7%, 50px);
    border-radius: 70px;
}
.navbar .profile{
    width: 80px;
}
.navbar .profile p{
    align-items: center;
}