.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;

}
.login-popup-container{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px 35px;
    border-radius: 10px;
    font-size: 18px;
    animation: fadeIn 0.6s;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title img{
    width: 28px;
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 5px;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(27, 170, 226);
    font-size: 20px;
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: -15px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup p span{
    color: orangered;
    font-weight: 500;
    cursor: pointer;
}